In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [28]:
# Perfrom Extracting
# and convert column tools from string to list
df = pd.read_csv("../jobs.csv", converters={'tools': literal_eval})
df.head()

,country,date_time,employment_type,num_applications,num_views,tools,year_of_exp
0,"['Ukraine', 'Portugal', 'Spain', 'Argentina', ...",18:30 06.05.2024,['Remote'],10,37,"[Code, Native, IaC, Infrastructure, CD, Cloud]",5
1,['Ukraine'],18:16 06.05.2024,['Remote'],24,67,"[Pika, SQLAlchemy, Celery Beat, AWS, Docker, P...",3
2,"['Ukraine', 'Cyprus']",15:30 06.05.2024,['Remote'],2,19,"[CAPTCHAs, Selenium, Redis, DDD, GCS, SSL, Pyt...",5
3,['Ukraine'],15:08 06.05.2024,"['Office', 'Remote']",25,76,"[CD, Linux, Git, Docker]",3
4,['Israel'],14:10 06.05.2024,['Remote'],22,219,"[Async IO, Great, AWS, GCP, Auto, Azure, Quick...",5

In [33]:
# Perfrom Cleaning, Wrangling

# change year of exp to data type int8
df.loc[:, "year_of_exp"] = df.year_of_exp.astype(np.int8)

# to datetime objects
df.loc[:, "date_time"] = pd.to_datetime(df.date_time, format="%H:%M %d.%m.%Y")

# remove rows where there is no tools
df = df[df.tools.astype(bool)]

tools = pd.DataFrame({"tools":df.tools.agg("sum")})

# remove duplicates such as "REST" and "RESTful"
# is same and we should give counts of occurrences to "REST"


tools.value_counts().to_csv("tools1.csv")

# df_exploded = df.explode("tools")

# Get unique tools from the exploded DataFrame
# unique_tools = df_exploded["tools"].unique()
# df.info()
# df_exploded

In [ ]:
s