In [3]:
import pandas as pd
import numpy as np

In [13]:
# Perfrom Extracting
df = pd.read_csv("../jobs.csv")
df.head()

,country,date,employment_type,num_applications,num_views,tools,year_of_exp
0,"['Poland', 'Hungary', 'Slovakia', 'Cyprus', 'T...",03.05.2024,"['Office', 'Remote']",1,5,"{'ChatGPT', 'NLP', 'Pandas', 'AI/LLM', 'Python...",3
1,['Ukraine'],03.05.2024,['Full Remote'],84,699,set(),2
2,"['Relocate', 'Ukraine']",03.05.2024,['Full Remote'],3,13,"{'Middle Front', 'Technology', 'SQLAlchemy', '...",3
3,['Ukraine'],03.05.2024,['Office Work'],37,142,"{'JavaScript', 'Jest', 'Python APIs', 'React',...",2
4,"['Australia', 'United States']",03.05.2024,['Full Remote'],17,48,"{'CST/EST', 'Git', 'US Timezone', 'English', '...",3

In [ ]:
# Perfrom Cleaning